

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.quizTitle:hover,
.quizTitle:focus {
    text-decoration: none;
}

.quizContent {
    text-align: justify;
}

.quizImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

body
{

    width:100%;
	font-family : Courier New;
}

header
{
    font-family : Courier New;
    color:white;
    list-style:none;
    text-align:center;
}

header nav
{
    color : white;
   
}

header nav ul
{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;

    
}

header nav ul li
{
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    text-align:center;
    background-color:black;
    line-height:100px;
    
    font-weight:bold;
    font-size:20px;
    align-items:center;
    
}
header nav li
{
 
    display: inline-block;
    margin:0px 19px;
    padding:10px;    

}
header nav ul li a
{
    display:block;
	text-align:center;
    
}

header nav ul li a:hover
{
    opacity:0.5;
}

.sous
{
    display : flex;
    flex-direction:column-reverse;
   
}

.link
{

    color:white;
    font-size:18px;
    margin-left:auto;
	margin-right:auto;
    font-weight:bold;   

}

.link:hover

{
    color: white; 

}

header nav ul li ul li
{


    display:none;


    
}

header nav ul li:hover ul li 

{

    display:flex;
    background-color:black;
    height:60px;
    width:100%;
    line-height:60px;
	margin-left:auto;
	margin-right:auto;
	position:relative;


}

nav ul::after
{
	
	content:"";
	display:table;
	clear:both;
}

.bouton

{
	display:block;
	width:170px;
	height : 100px;
	line-height:70px;
	text-align:center;
	vertical-align:middle;
	color:white;
	text-decoration:none;
	float:right;
	background-color:black;
	font-family : Courier New;
	margin-right : 5em;
	margin-top: 20em;
	font-weight:bold;
	font-size:large;
}

.bouton:hover 
{
    background-color : red;
    color:black;
}


#carousel
{
    
    margin-left : 50px;
}


.conteneur
{
    display: flex;
    align-items:center;   
    background: #EFEFEF;
    width : 80%;
    height: 600px;
    margin-left :20px;
    border-radius: 20px;
    margin-top : 170px;
}


footer
{
    text-align:center;
    color:black;
    font-family:Courier New, Courier, monospace;
}

.description
{

    color:black;
    font-family:Courier New, Courier, monospace;
    text-align:center;
    margin-left:15%;
    align-items:center;
    font-size:18px;
}

#logo{
    margin-left:0;
    padding-left:15px;
    background-color:black;
}

.option {
	padding: 4px 10px;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 16px;
    border-radius: 20px;
	height:2px;
	align-items:center; 
}

a.option:hover {
	background: red;
	color: white;
}

.containeurGlobal
{
	padding-right: 10px;
	padding-left: 10px;
	margin-left:10px;
	margin-right:10px;
	align-items:center;
}

.infoBase
{
  font-family:Courier New,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  margin-left:auto;   
  margin-right:auto;
  margin-top:10px;  
  border-radius: 10px;   
  display: flex;  
  background-color: rgba(255, 0, 0, .1);
  font-size:medium;
  align-items:center;  
}


#infoBaseInt
{
    display: block;
    margin-left: auto;
	margin-right:auto;
    text-align:center;
	align-items:center;
	padding-bottom:10px;
}

.element
{
  font-family:Courier New,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  margin-left:auto;   
  margin-right:auto;
  margin-top:10px;
  font-size:medium;
  background-color: lightgray;
  border-radius: 10px;   
  display: block;
  padding-top:5px;
  padding-bottom:5px;
}
#elementInt
{
    display: block;
    text-align:center;
}

.texteForme
{
  font-family:Courier New,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
 -moz-border-radius:4px;
  border:1px solid gray;
  border-radius:4px;
  padding-left:8px;
}


.conteneurconex
{
	font-family:Courier New,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left:auto;   
    margin-right:auto;
    margin-top : 40px;
    border-radius: 20px;   
    width : 400px;
    height: 470px;
    display: flex;
    align-items:center;   
    background: #EFEFEF;
}



#connexion
{
    display: block;
    margin-left: 40px;
	padding-left:1px;
    text-align:center;
	font-family:Courier New,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}

.monprofil
{
	
	color:black;
    font-family:Courier New, Courier, monospace;
    text-align:center;
	margin-top: 60px;
    font-size:18px;
}
