

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.quizTitle:hover,
.quizTitle:focus {
    text-decoration: none;
}

.quizContent {
    text-align: justify;
}

.quizImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

body
{

    width:100%;
	font-family : Courier New;
}

header
{
    font-family : Courier New;
    color:white;
    list-style:none;
    text-align:center;
}

header nav
{
    color : white;
   
}

header nav ul
{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;

    
}

header nav ul li
{
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    text-align:center;
    background-color:black;
    line-height:100px;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    align-items:center;
    
}
header nav li
{
 
    display: inline-block;
    margin:0px 19px;
    padding:10px;    

}
header nav ul li a
{
    display:block;
    
}

header nav ul li a:hover
{
    opacity:0.4;

    
    
}

.sous
{
    display : flex;
    flex-direction:column-reverse;

    
}

.link
{

    color:white;
    font-size:18px;
    text-align:center;
    font-weight:bold;   

}

link:hover

{
    color: #00FF00; 
}

header nav ul li ul li
{


    display:none;


    
}

header nav ul li:hover ul li 

{

    display:flex;
    background-color:black;
    height:60px;
    width:100%;
    line-height:60px;
    text-align:center;


}

.bouton

{
    
display:block;
width:170px;
height : 100px;
line-height:70px;
text-align:center;
vertical-align:middle;
color:white;
text-decoration:none;
float:right;
background-color:black;
font-family : Courier New;
margin-right : 5em;
margin-top: 20em;
font-weight:bold;
font-size:large;

}

.bouton:hover 
{
    background-color : red;
    color:black;
}


#carousel
{
    
    margin-left : 50px;
}


.conteneur
{
    display: flex;
    align-items:center;   
    background: #EFEFEF;
    width : 80%;
    height: 600px;
    margin-left :20px;
    border-radius: 20px;
    margin-top : 170px;
   
  
}

footer

{
    text-align:center;
    color:black;
    font-family:Courier New, Courier, monospace;
}

.description
{

    color:black;
    font-family:Courier New, Courier, monospace;
    text-align:center;
    margin-left:15%;
    align-items:center;
    font-size:18px;
}

#logo{
    margin-left:0;
    padding-left:15px;
    background-color:black;
}



.conteneurconex
{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:auto;   
    margin-right:auto;
    margin-top : 100px;
    border-radius: 20px;   
    width : 400px;
    height: 470px;
    display: flex;
    align-items:center;   
    background: #EFEFEF;
    
    
    
   
}

#connexion
{
    display: block;
    margin-left: 90px;
    text-align:center;
 
    
}

.monprofil
{
	
	color:black;
    font-family:Courier New, Courier, monospace;
    text-align:center;
	margin-top: 60px;
    font-size:18px;
}